.myCard {
  background-color: transparent;
  width: 100%;
  height: 6rem;
  perspective: 1000px;
  display: flex;
  flex-direction: column;
}

.skills-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skill-card {
  width: 20%;
  margin: 2%;
}

.skill-img {
  width: 90%;
  height: 90%;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  border-radius: 20%;
  background-color: aliceblue;
}

.skill-names {
  font-size: 100%;
  font-weight: 900;
  text-align: center;
  color: rgb(85, 0, 165);
  text-decoration: none;
}

.skill-names:hover {
  color: rgb(159, 255, 62);
}

@media (width <= 1200px) {
  .skill-names {
    font-size: 50%;
  }
}

#card-data {
  font-size: x-large;
}

.backSide {
  padding-bottom: 10%;
}

.innerCard {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.myCard:hover .innerCard {
  transform: rotateY(180deg);
}

.frontSide,
.backSide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

.frontSide,
.frontSide::before {
  background: linear-gradient(
    43deg,
    rgb(65, 88, 208) 0%,
    rgb(200, 80, 192) 46%,
    rgb(255, 204, 112) 100%
  );
}

.backSide,
.backSide::before {
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.backSide {
  transform: rotateY(180deg);
}

.frontSide::before,
.backSide::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0.3;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

/* My Skills section  */
/* --------- */

.skill-section {
  padding-top: 8%;
}

.skills-flex {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.skills,
.skill-details {
  width: 80%;
  float: left;
  box-sizing: border-box;
  padding-right: 40px;
  padding-left: 0;
}

.skill-details {
  float: right;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 0;
  border-radius: 10%;
  padding-top: 2rem;
  background: rgba(179, 171, 171, 0.13);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(18.3px);
  -webkit-backdrop-filter: blur(18.3px);
}

.skill-details u {
  color: rgb(0, 227, 133);
}

@media (width <= 780px) {
  .skill-section {
    box-sizing: content-box;
  }

  .skill-details {
    margin-top: 20%;
    border-radius: 0;
  }

  .skills-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
  }

  .skills,
  .skill-details {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 5% 2%;
    border-radius: 5%;
  }

  .skill-details {
    float: right;
    padding-right: 0;
  }

  .skill-details li {
    font-size: 13px;
  }
}

.special-content {
  text-align: left;
  font-size: 30px;
}

.special-text {
  text-align: left;
  font-size: 15px;
  margin-bottom: 35px;
  color: blueviolet;
}

.email:hover {
  color: #2196f3;
}
