.socials-section {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.up {
  display: flex;
  gap: 0.5em;
}

.down {
  display: flex;
  gap: 0.5em;
}

/* Github */
.github {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #000000;
}

.card1 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #575757;
}

.card1:hover .github {
  fill: white;
}

/* Twitter */
.twitter {
  margin-top: 1.5em;
  margin-left: -0.9em;
  fill: #03a9f4;
}

.card2 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #03a9f4;
}

.card2:hover .twitter {
  fill: white;
}

/* Linkedin */
.linkedin {
  margin-top: -0.6em;
  margin-left: 1.2em;
  fill: #1976f2;
}

.card3 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #1976f2;
}

.card3:hover .linkedin {
  fill: white;
}

/* Discord */
.discord {
  margin-top: -0.9em;
  margin-left: -1.2em;
  fill: #7788e9;
}

.card4 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #7788e9;
}

.card4:hover .discord {
  fill: white;
}
